#loto-bloco-principal {
    /* background-color: orange; */
    border-bottom: 1px solid #ddd;
    padding: 30px 0px;
    font-family: Roboto;
    display: flex;
}

#loto-bloco-loteria {
    display: flex;
}

#loto-nome-loteria {
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 10px;
    color: #930089;
}

#loto-bloco-estimativa {
    width: 15rem;
    margin-left: 45px;
    margin-top: 20px;
}

#loto-texto-estimativa {
    font-size: 0.9rem;
    color: #4c556c;   
}

#loto-valor-estimativa {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 15px;
    color: #930089;  
}

#loto-bloco-direita {
    margin-left: 50px;
}

#loto-linha-bola {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
}

.loto-linha {
    font-size: 1.4rem;
    padding: 15px 20px;
    color:#930089;
    border-bottom: 1px solid #ddd;
}

#loto-sem-linha {
    font-size: 1.4rem;
    padding: 15px 20px;
    color:#930089;
}

#loto-texto-acumulou {
    padding-left: 10px;
    margin-top: 15px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #0066b3;
}

#loto-data-concurso {
    padding-left: 10px;
    margin-top: 15px;
    font-size: 0.9rem;
    color: #4c556c;  
}