#quiina-bloco-principal {
    /* background-color: yellow; */
    border-bottom: 1px solid #ddd;
    padding: 30px 0px;
    font-family: Roboto;
    display: flex;
}

#quiina-bloco-loteria {
    display: flex;
}

#quiina-nome-loteria {
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 10px;
    color: #260085;
}

#quiina-bloco-estimativa {
    width: 15rem;
    margin-left: 45px;
    margin-top: 20px;
}

#quiina-texto-estimativa {
    font-size: 0.9rem;
    color: #4c556c;   
}

#quiina-valor-estimativa {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 15px;
    color: #260085;  
}

#quiina-bloco-direita {
    margin-left: 50px;
}

#quiina-linha-bola {
    display: flex;
}

.quiina-bola {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 1.2rem;
    color:#fff;
    background-color: #260085;
}

#quiina-texto-acumulou {
    padding-left: 10px;
    margin-top: 15px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #0066b3;
}

#quiina-data-concurso {
    padding-left: 10px;
    margin-top: 15px;
    font-size: 0.9rem;
    color: #4c556c;  
}

#bloco-carregando {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 90vw;
    font-family: Roboto;
}